# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual environment
.venv/

# Django local files
db.sqlite3
staticfiles/

# Local files
media/
tmp/

# Secrets
.env

# macOS
.DS_Store

# Tests
file_manager_baseline_test/
# tests/outputs/
# tests/analysis/
tests/notebooks/.ipynb_checkpoints/
tests/manual_test/

# Local authorization design notes
apps/authorization/readme.txt

# private notes
progress_before_break.md
