# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual environment
.venv/

# Django local files
db.sqlite3
staticfiles/

# Local files
media/
tmp/

# Secrets
.env

# macOS
.DS_Store

# Tests
file_manager_baseline_test/